<style>
    table {
    width: 100%;
    /* border: 1px solid white; */
    }
    th{
        text-align: left;
        background-color: #AEAAAA;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 15px;
        padding-bottom: 15px;
    }
    td{
        vertical-align: text-top;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .container{
        margin-left: 40px;
    }
    .blue-text{
        color: #2C5075;
    }
    .bold-text{
        font-weight: bold;
    }
    .experience{
        margin-left: 85px;
    }
    .as-part{
        margin-left: 23px;
    }
    div.alwaysbreak { page-break-before: always; }
    .project-name{
    
    }
</style>
        
            <div class="container">
                    <h1 class="blue-text bold-text experience">Experience</h1>
                    <br>
                    <p class="as-part">As part of the EPCM team, the company has performed the following similar previous projects:</p>
                
                <table cellspacing="0" cellpadding="0" style="width: 1225px;">
                    <tr>
                        <th style="width: 212px;">Project Name / Client</th>
                        <th style="width: 180px;">Project Location</th>
                        <th style="width: 410px;">Summary Description</th>
                        <th style="width: 143px;">Project Value</th>
                        <th style="width: 133px;">Contract</th>
                        <th style="width: 70px;">Year</th>
                    <tr>
                    
                    <% @printing_reports.each_with_index do |report, index| %>
                        <% if report.end_date.present? %>
                            <% year_text = report.start_date.to_s + " - " + report.end_date.to_s %>
                        <% elsif report.start_date.present? %>
                            <% year_text = report.start_date.to_s + " - ongoing" %>
                        <% else %>
                            <% year_text = "" %>
                        <% end %>
                        <tr>
                            <td style="width: 212px;"><%= report.project_name.to_s %></td>
                            <td style="width: 180px;"><%= report.region_location.to_s %></td>
                            <td style="width: 410px;"><%= simple_format report.description.to_s %></td>
                            <td style="width: 143px;"><%= report.project_value_us.to_s %></td>
                            <td style="width: 133px;"><%= report.contract.to_s %></td>
                            <td style="width: 70px;"><%= year_text %></td>
                        <tr>
                    <% end %> 
                </table>
                <br>
                <br>
            </div>
            
       
    