<style>
	form{
		display: grid;
	}
</style>
<% if @credentials.present? %>
	<div class="d-flex justify-content-center logo">
		<%= image_tag image_url('logo.png'), width: "40%" ,class: "img-top center"%>
		<%#= image_tag image_url('https://drive.google.com/uc?export=view&id=16ERFVDpBcXnstoZALGdsdAtpWdkSdWLY'), width: "40%" ,class: "img-top center"%>
		<%#= image_tag image_url('https://drive.google.com/uc?export=view&id=17nn19PF_U68nkHxIjTVfFDBZjdsBWryu'), width: "40%" ,class: "img-top center"%>
		
	</div>
    <div class="row">
        <div class="col-md-4 offset-md-4" >
			<%= form_tag '/download_report.docx' , method: :get do |form| %>
				<%= hidden_field_tag :download_type, "" %>
				<%= select_tag "tags", options_for_select(@found_tags) , class: "tags", multiple: true %>
				<small class="form-text text-muted">Separate tags with a comma, space bar, or enter key.</small>
				<br>
				<%#= button_tag "Download Reports" , class: "btn btn-primary" , id: "reports-btn"%>
				<input type="button" class="btn btn-primary" id="reports-btn" value="Download Reports">
				<br>
				<input type="button" class="btn btn-primary" id="experience-btn" value="Download Experience">
			<% end %>
        </div>
    </div>
    <%#= link_to 'Create PDF document', download_report_path(tags: "research", :format => :pdf) %>
<% else %>
    <%= link_to "Connect Googlesheet" , connect_google_sheets_path %>
<% end %>
<script>
	$(".tags").select2({});

	$("#reports-btn").click(function(){
		$('form').attr('action', '/download_report.docx');
		$("#download_type").val("reports");
		$('form').submit();
	});
	$("#experience-btn").click(function(){
		$('form').attr('action', '/download_experience.docx');
		$("#download_type").val("experience");
		$('form').submit();
	});
</script>